{% load static %}
<div class="container">
  <a class="navbar-brand" href="#">
    <img src="{% static 'img/logo.svg' %}" height="55" width="189" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse1">
    <ul class="navbar-nav w-100">
      {% if user.is_authenticated %}
        <li class="nav-item align-items-center d-md-flex flex-grow-1 justify-content-end">
          <button
            class="btn btn-outline-success me-2 shadow-none foodplan_green foodplan__border_green">{{ user.username }}</button>
          <button class="btn btn-outline-success me-2 shadow-none foodplan_green foodplan__border_green">Подписка
          </button>
          <button onclick="window.location.href = '{% url 'account:logout' %}'"
                  class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Выйти
          </button>
        </li>
      {% else %}
        <li class="nav-item align-items-center d-md-flex flex-grow-1 justify-content-end">
          <button class="btn btn-outline-success me-2 shadow-none foodplan_green foodplan__border_green">Подписка
          </button>
          <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Войти</button>
        </li>
      {% endif %}

    </ul>
  </div>
</div>
