{% extends 'foodplan/base.html' %}
{% load static %}
{% block title %}
    <title>План питания на неделю, меню, рецепты, список покупок. Классическое меню, безуглеводное меню</title>
{% endblock %}
{% block nav_button %}
    <button class="btn btn-outline-success me-2 shadow-none foodplan_green foodplan__border_green">Назад</button>
{% endblock %}
{% block content %}
<main style="margin-top: calc(2rem + 75px);">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <div class="card foodplan__card_borderless">
                        <img src="img/circle1.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
                    <h2>Название рецепта</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">ингредиент (500г.)</li>
                        <li class="list-group-item">ингредиент (500г.)</li>
                        <li class="list-group-item">ингредиент (500г.)</li>
                        <li class="list-group-item">ингредиент (500г.)</li>
                        <li class="list-group-item">ингредиент (500г.)</li>
                    </ul>
                    <h6>Общая калорийность: 1000 ккал</h6>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
