{% extends 'foodplan/base.html' %}
{% load static %}
{% block title %}
    <title>План питания на неделю, меню, рецепты, список покупок. Классическое меню, безуглеводное меню</title>
{% endblock %}
{% block nav_button %}
    <button onclick="history.back();" class="btn btn-outline-success me-2 shadow-none foodplan_green foodplan__border_green">Назад</button>
{% endblock %}
{% block content %}
<main style="margin-top: calc(2rem + 75px);">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <div class="card foodplan__card_borderless">
                        <img src="{{ image }}" alt="" class="recipe__photo_previw">
                    </div>
                </div>
                <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                    <div class="row">
                        <h2>{{ name }}</h2>
                        <div class="col-12 col-sm-6">
                            <p>{{ description }}</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            <small class="link-secondary">Ингредиенты:</small>
                            <ul class="list-group list-group-flush">
                                {% for quantity, name, unit in ingredients %}
                                <li class="list-group-item disabled"><small>
                                    {% if quantity != 0 %}
                                        {{ name }} - {{ quantity }} {{ unit }}
                                    {% else %}
                                        {{name }} - по вкусу
                                    {% endif %}
                                </small></li>
                                {% endfor %}
                            </ul>
                            <small class="link-secondary">Калорийность на 100 г: {{ total_energy }} ккал</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
