{% extends 'foodplan/base.html' %}
{% load static %}
{% block title %}
    <title>Foodplan 2021 - Меню на неделю FOODPLAN</title>
{% endblock %}
{% block nav_button %}
<button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Выйти</button>
{% endblock %}
{% block content %}
<main style="margin-top: calc(2rem + 85px);">
    <section>
        <div class="container">
            <div class="row">
                <div class="card col-12 p-3 mb-5 foodplan__shadow">
                    <h4 class="foodplan__backButton">
                        <strong><small><a href="#" class="link-secondary fw-light"></a></small></strong>
                    </h4>
                    <h2 class="text-center"><strong>Личный кабинет</strong></h2>
                </div>

                <div class="card col-12 col-md-2 p-3 mb-3 d-flex flex-column align-items-center foodplan__shadow">
                    <div class="position-relative">
                        <img src="{% static 'img/test_avatar.png' %}" alt="" width="100" height="100" class="rounded-pill">
                        <span class="badge rounded-circle position-absolute bottom-0 end-0 foodplan__bg_green avatar__plus"><a href="#"
                                class="link-dark text-decoration-none align-middle">+</a></span>
                    </div>
                    <h3 class="card-title text-center">{{ username }}</h3>
                    <div class="d-block">
                        <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Выйти</button>
                    </div>
                </div>

                <div class="card col-12 col-md-10 p-3 mb-3 foodplan__shadow">
                    <ul class="nav nav-tabs">
                            {% if active_subscriptions %}
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab1" class="btn shadow-none foodplan__tab-button {% if active_subscriptions %} active {% endif %}" data-bs-toggle="tab" data-bs-target="#recipe">Рецепты на сегодня</button>
                                </li>
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab2" class="btn shadow-none foodplan__tab-button" data-bs-toggle="tab" data-bs-target="#list">Список покупок</button>
                                </li>
                            {% endif %}
                            <li class="nav-item foodplan__tab-item">
                                <button id="tab3" class="btn shadow-none foodplan__tab-button {% if not active_subscriptions %} active {% endif %}" data-bs-toggle="tab" data-bs-target="#menu">Моё меню</button>
                            </li>
                            <li class="nav-item foodplan__tab-item">
                                <button id="tab4" class="btn shadow-none foodplan__tab-button" data-bs-toggle="tab" data-bs-target="#data">Персональные данные</button>
                            </li>
                            <li class="nav-item foodplan__tab-item flex-grow-1"></li>
                        </ul>
                    <div class="tab-content mt-2">
                            <div class="tab-pane fade" id="data">
                                <form action="">
                                    <div class="mb-3">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <label for="exampleInputEmail1" class="form-label">Имя</label>
                                            <small><a href="#" class="link-dark foodplan_green">изменить</a></small>
                                        </div>

                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <label for="exampleInputPassword1" class="form-label">Пароль</label>
                                            <small><a href="#" class="link-dark foodplan_green">изменить</a></small>
                                        </div>

                                        <input type="password" class="form-control" id="password">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Подтверждение пароля</label>
                                        <input type="password" class="form-control" id="PasswordConfirm">
                                    </div>
                                    <div class="d-block">
                                        <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Сохранить
                                            изменения</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade {% if not active_subscriptions %} show active {% endif %}" id="menu">
                                {% if active_subscriptions %}
                                    <div class="d-flex flex-column align-items-flex-end">
                                        <div class="d-block">
                                            <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Новая подписка</button>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-12 subscription-message">
                                            <br>
                                            <p>У вас нет активных подписок. </p>
                                            <p>Вы можете оформить подписку, нажав на соответствующую кнопку ниже.</p>
                                            <p>Будем рады видеть Вас среди наших клиентов!</p>
                                            <div class="d-block">
                                                <a href="/subscription/" class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Подписка</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% for subscription in active_subscriptions %}
                                    <div class="row">
                                        <div class="col-12">
                                            <h2>{{ subscription.menu_type.name }} меню - до {{ subscription.end_date|date:"d.m.Y"}}</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="{{ subscription.menu_type.image.url }}" alt="" class="w-100">
                                        </div>
                                        <div class="col-10 col-md-10">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-8">
                                                    <h6>{{ subscription.menu_type.description }}</h6>
                                                </div>
                                                <div class="col-md-12 col-lg-4 text-muted d-flex flex-column justify-content-between">
                                                    <div class="d-flex flex-row justify-content-between">
                                                        <small>Персоны: </small><small>{{ subscription.people_quantity }}</small>
                                                    </div>
                                                    <div class="d-flex flex-row justify-content-between">
                                                        <small>Аллергии: </small>
                                                        <div class="d-flex flex-column align-items-flex-end">
                                                            {% if subscription.allergies %}
                                                                {% for allergy in subscription.allergies.all %}
                                                                    <small>{{ allergy.name }}</small>
                                                                {% endfor %}
                                                            {% else %}
                                                                <small>нет</small>
                                                            {% endif %}
                                                        </div>

                                                    </div>
                                                    <div class="d-flex flex-row justify-content-between">
                                                        <small>Приёмы пищи: </small>
                                                        <div class="d-flex flex-column align-items-flex-end">
                                                            {% for meal_type in subscription.meal_type.all %}
                                                                <small>{{ meal_type.name }}</small>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if active_subscriptions %}
                                <div class="tab-pane fade" id="list">
                                <div class="col-12 col-sm-6 p-3">
                                    <small class="link-secondary">Ингредиенты:</small>
                                    <ul class="list-group list-group-flush">
                                        {% for key, value in ing_dict.items %}
                                        <li class="list-group-item disabled"><small>{{ key }} - {{ value.quantity }} {{ value.unit}}</small></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                                <div class="tab-pane fade show active" id="recipe">
                                    {% for user_recipe in user_recipes %}
                                    <div class="row menu-row__container p-3 user-recipe-block" data-recipe-id="{{ user_recipe.pk }}">
                                    <div class="col-8">
                                        <div class="row">
                                            <h3 class="menu-type__header">{{ user_recipe.meal_type }}</h3>
                                        </div>
                                        <h3>{{ user_recipe.recipe.name }}</h3>
                                        <p>{{ user_recipe.recipe.description }}</p>
                                        <p class="text-muted"><img src="{{ user_recipe.subscription.menu_type.image.url }}" style="max-width: 50px;" alt="" class="w-30"> {{ user_recipe.subscription.menu_type.name }} меню</p>
                                    </div>
                                    <div class="col-4 text-muted d-flex flex-column justify-content-between">
                                        <div class="d-flex flex-row justify-content-between">
                                            <img src="{{ user_recipe.recipe.image.url }}" alt="recipe_photo" class="w-100 recipe__photo_previw">
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mt-1">
                                            <div class="recipe__control-panel">
                                                {% if user_recipe.reaction == 'neutral' %}
                                                    <i class="fa fa-heart-o color-grey like-button" data-recipe-id="{{ user_recipe.pk }}" aria-hidden="true"></i>
                                                    <i class="fa fa-thumbs-o-down color-grey dislike-button" data-recipe-id="{{ user_recipe.pk }}" aria-hidden="true"></i>
                                                {% elif user_recipe.reaction == 'like' %}
                                                    <i class="fa fa-heart-o color-green like-button" data-recipe-id="{{ user_recipe.pk }}" aria-hidden="true"></i>
                                                    <i class="fa fa-thumbs-o-down color-grey dislike-button" data-recipe-id="{{ user_recipe.pk }}" aria-hidden="true"></i>
                                                {% elif user_recipe.reaction == 'dislike' %}
                                                    <i class="fa fa-heart-o color-grey like-button" data-recipe-id="{{ user_recipe.pk }}" aria-hidden="true"></i>
                                                    <i class="fa fa-thumbs-o-down color-red dislike-button" data-recipe-id="{{ user_recipe.pk }}" aria-hidden="true"></i>
                                                {% endif %}
                                                {% if user_recipe.attempt < 2 %}
                                                    <i class="fa fa-refresh color-green can-refresh" aria-hidden="true"></i>
                                                {% else %}
                                                    <i class="fa fa-refresh color-grey" aria-hidden="true"></i>
                                                {% endif %}
                                            </div>
                                            <div>
                                                <i class="fa fa-users color-green" aria-hidden="true"></i> <small class="text-muted">{{ user_recipe.get_total_people }}</small>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between mb-3">
                                            <small>Ингридиенты: </small>
                                        </div>
                                        <div class="ingredients-container">
                                            {% for ingredient in user_recipe.get_total_ingredients %}
                                                <div class="d-flex flex-row justify-content-between">
                                                    <small>{{ ingredient.ingredient.name }}: </small><small> {% if ingredient.quantity != 0 %}
                                                    {{ ingredient.quantity }} {{ ingredient.ingredient.unit }} {% else %} по вкусу {% endif %}</small>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="d-flex flex-row justify-content-between mt-3">
                                            <small>Калорийность 1 порции: </small><small>{{ user_recipe.recipe.get_total_calories_per_person }} ккал</small>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
document.querySelectorAll('.user-recipe-block').forEach(block => {
    block.addEventListener('click', function(event) {
        if (event.target.matches('.can-refresh')) {
            const recipeId = this.getAttribute('data-recipe-id');
            const csrftoken = getCookie('csrftoken')

            fetch(`/change_recipe/`, {
                method: 'POST',
                body: JSON.stringify({
                    'recipe_id': recipeId,
                    }),
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken // Добавляем CSRF токен
              }
            })
            .then(response => {
              if (response.ok) {
                return response.json(); // Обработка JSON-ответа от сервера
              } else {
                throw new Error('Сетевая ошибка или ошибка сервера');
              }
            })
            .then(data => {
              if(data.status === 'success') {
                let user_recipe = data.new_recipe;
                console.log(user_recipe);
                let ingredientsHtml = ``;

                for (let ing of user_recipe.total_ingredients) {
                  ingredientsHtml += `
                    <div class="d-flex flex-row justify-content-between">
                      <small>${ing.name}: </small>
                      <small>${ing.quantity !== 0 ? `${ing.quantity} ${ing.unit_name}` : 'по вкусу'}</small>
                    </div>
                  `;
                }
                let fullHtml = `<div class="row menu-row__container p-3">
                    <div class="col-8">
                        <div class="row">
                            <h3 class="menu-type__header">${user_recipe.meal_type.name}</h3>
                        </div>
                        <h3>${user_recipe.recipe.name}</h3>
                        <p>${user_recipe.recipe.description}</p>
                        <p class="text-muted"><img src="${user_recipe.subscription.menu_type.image}" style="max-width: 50px;" alt="" class="w-30"> ${user_recipe.subscription.menu_type.name} меню</p>
                    </div>
                    <div class="col-4 text-muted d-flex flex-column justify-content-between">
                        <div class="d-flex flex-row justify-content-between">
                            <img src="${user_recipe.recipe.image}" alt="recipe_photo" class="w-100 recipe__photo_previw">
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <div class="recipe__control-panel">
                                <i class="fa fa-heart-o color-grey like-button" data-recipe-id="${user_recipe.id}" aria-hidden="true"></i>
                                <i class="fa fa-thumbs-o-down color-grey dislike-button" data-recipe-id="${user_recipe.id}" aria-hidden="true"></i>
                                <i class="fa fa-refresh color-grey" aria-hidden="true"></i>
                            </div>
                            <div>
                                <i class="fa fa-users color-green" aria-hidden="true"></i> <small class="text-muted">${user_recipe.total_people}</small>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between mb-3">
                            <small>Ингридиенты: </small>
                        </div>
                        ${ingredientsHtml}
                        <div class="d-flex flex-row justify-content-between mt-3">
                            <small>Калорийность 1 порции: </small><small>${user_recipe.recipe.total_calories_per_person} ккал</small>
                        </div>
                    </div>
                </div>`
                block.insertAdjacentHTML('afterend', fullHtml);
                block.remove();
                } else {
                // Обработка ошибки, если статус в JSON не 'success'
                console.error('Ошибка:', data.error || 'Неизвестная ошибка');
              }
            })
            .catch(error => {
              // Обработка ошибок запроса
              console.error('Ошибка:', error);
            });
          }
});
document.addEventListener('click', function(event) {
    if (event.target.matches('.like-button')) {
        button = event.target;
        const recipeId = button.getAttribute('data-recipe-id');
        // Получение CSRF токена из cookie, нужно добавить функцию getCookie
        const csrftoken = getCookie('csrftoken');

        fetch(`/reaction_recipe/`, {
          method: 'POST',
          body: JSON.stringify({
            'recipe_id': recipeId,
            'reaction': 'like',
          }),
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken // Добавляем CSRF токен
          }
        })
        .then(response => {
          if (response.ok) {
            return response.json(); // Обработка JSON-ответа от сервера
          } else {
            throw new Error('Сетевая ошибка или ошибка сервера');
          }
        })
        .then(data => {
          if(data.status === 'success') {
            button.style.color = '#91B93E';
            button.nextElementSibling.style.color = '#808080';
          } else {
            // Обработка ошибки, если статус в JSON не 'success'
            console.error('Ошибка:', data.error || 'Неизвестная ошибка');
          }
        })
        .catch(error => {
          // Обработка ошибок запроса
          console.error('Ошибка:', error);
        });
    } else if (event.target.matches('.dislike-button')) {
        button = event.target;
        const recipeId = button.getAttribute('data-recipe-id');
        // Получение CSRF токена из cookie, нужно добавить функцию getCookie
        const csrftoken = getCookie('csrftoken');

        fetch(`/reaction_recipe/`, {
          method: 'POST',
          body: JSON.stringify({
            'recipe_id': recipeId,
            'reaction': 'dislike',
          }),
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken // Добавляем CSRF токен
          }
        })
        .then(response => {
          if (response.ok) {
            return response.json(); // Обработка JSON-ответа от сервера
          } else {
            throw new Error('Сетевая ошибка или ошибка сервера');
          }
        })
        .then(data => {
          if(data.status === 'success') {
            button.style.color = '#fe9700';
            button.previousElementSibling.style.color = '#808080';
          } else {
            // Обработка ошибки, если статус в JSON не 'success'
            console.error('Ошибка:', data.error || 'Неизвестная ошибка');
          }
        })
        .catch(error => {
          // Обработка ошибок запроса
          console.error('Ошибка:', error);
        });
      };
});

function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}});
</script>
{% endblock %}